[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
v = {editable = true,version = "*"}
pylint = "*"
autopep8 = "*"
rope = "*"

[packages]
setuptools = "*"
pathlib = "*"
argparse = "*"
requests = "*"
beautifulsoup4 = "*"
typing = "*"
usaddress = "*"
uszipcode = "*"
usaddress-scourgify = "*"
lxml = "*"

[requires]
python_version = "3.7"
